<!-- <div class="footer">
    <p>
        <a href="https://app.16163.com/">APP下载</a>
        <span>|</span>
        <a href="forum.php?mobile=no">电脑版</a>
    </p>
</div> -->
<!-- 底部固定菜单 -->
<footer class="y-ycar-foot">
  	<a href="/Index/index">
    	<em class="icon on"><i></i>首页</em>
  	</a>
  	<a href="/Product/product">
    	<em class="icon"><i></i>产品介绍</em>
  	</a>
  	<a href="/Article/article">
    	<em class="icon"><i></i>精彩活动</em>
  	</a>
    <!-- <a href="{:U('About/aboutUs')}"> -->
  	<a href="/Bbs/Index/index">
    	<em class="icon"><i></i>社区</em>
  	</a>      	
</footer>