<div class="line-dete">
    <label>Meta标题：</label>
    <span class="field">
        <input type="text" class="smallinput" placeholder="{$tags}" value="{$tags}" name="tags">
    </span>
</div>
<div class="line-dete">
    <label>Meta关键字：</label>
    <span class="field">
        <textarea name="meta_keyword" id="" cols="30" rows="10" style="margin: 0px; height: 62px; width: 629px;">{$meta_keyword}</textarea>
    </span>
</div>
<div class="line-dete">
    <label>Meta描述：</label>
    <span class="field">
        <textarea name="meta_description" id="" cols="30" rows="10" style="margin: 0px; height: 68px; width: 678px;">{$meta_description}</textarea>
    </span>
</div>