<extend name="Common:base" />

<block name="title">广告列表</block>

<style type="text/css">
    .pic_msg {margin: 5px 5px 5px 0px}
</style>
<block name="menu">
    <include file="Ad:menu" />
</block>

<block name="main">
    <div class="pageheader">
        <h1 class="pagetitle">广告列表</h1>
    </div>
    <div class="contentwrapper">
        <form class="order-list" method="GET" action="{:U('Ad/adList')}">
            <p>
                <input type="button" value="删除" class="Jdelete" />
                &nbsp;&nbsp;&nbsp;
                广告版位：
                <select name="group_id">
                    <option value="-1">所有版位</option>
                    <volist name="adGroupList" id="vo">
                    <option value="{$vo['id']}" <if condition="$return['group_id'] eq $vo['id']">selected</if>>{$vo['group_name']}</option>
                    </volist>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                广告名称
                <input type="text" name="ad_name" value="{$return['ad_name']}" placeholder="" />
                <input type="submit" value="搜索" />
            </p>
        </form>    
            <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablequick">
                <tr>
                    <th width="">选择</th>
                    <th width="">所在版位</th>
                    <th width="">广告名称</th>
                    <th width="">广告图片</th>
                    <th width="">排序</th>
                    <th width="">状态</th>
                    <th width="23%">操作</th>
                </tr>
                <empty name="list">
                    <tr>
                        <td colspan="9">目前没有数据~！</td>
                    </tr>
                <else />
                    <volist name="list" id="vo">
                        <tr>
                            <td><input type="checkbox" class="ids" value="{$vo['id']}" /></td>
                            <td>{$vo.group_name}</td>
                            <td>{$vo['ad_name']}</td>
                            <td class="pic_msg">
                                <img style="max-width: 300px;height:50px;vertical-align: middle" src="{$vo['image']}">
                            </td>
                            <td>{$vo['sort']}</td>
                            <if condition="$vo['is_delete'] eq '1'">
                                  <td class="Jstatus" data-id="{$vo['id']}-0">
                                      <img src="__PUBLIC__/Admin/images/no.gif" alt="">
                                  </td>
                                  <else/>
                                  <td class="Jstatus" data-id="{$vo['id']}-1">
                                      <img src="__PUBLIC__/Admin/images/yes.gif" alt="">  
                                  </td>
                            </if>

                            <td>
                                <if condition="checkActionAuth('Ad-editAd')">
                                    <a class="stdbtn btn_lime" href="{:U('Ad/editAd', array('id'=>$vo['id']))}">编辑</a>
                                <else/>
                                    无权限访问
                                </if>
                                <if condition="checkActionAuth('Ad-delAd')">
                                    <a class="stdbtn btn_lime" href="{:U('Ad/delAd', array('ids'=>$vo['id']))}">删除</a>
                                <else/>
                                    无权限访问
                                </if>
                            </td>
                        </tr>
                    </volist>
                    <tr>
                        <if condition="$counting EGT 25">
                            <td colspan="8">
                                <div class="page-box">{$show}</div>
                            </td>
                        </if>
                            <!-- <input type="text" class="input-text" style="width:250px" placeholder="标识" name="tags" value="{$return['tags']}" > -->
                    </tr>
                </empty>
            </table>
    </div>
</block>
<block name="script">
<script type="text/javascript">
//选择删除
 $(".Jdelete").click(function () {

        var objs = $('.ids');
        var ids = '';
        for(var j=0;j<objs.length;j++)
        {   
            if ($(objs[j]).is(':checked'))
            {
                ids += $(objs[j]).val()+',';
            }
        }
        if ( !ids )  {
            alert('请选择要删除的数据');
            return;
        }
        var jumpUrl = "{:U('Ad/delAd')}?ids=" + ids;
        window.location.href = jumpUrl;
    });
//选择必填
$('.Jstatus').click(function(){
        var id = $(this).attr('data-id')
        var yes = "__PUBLIC__/Admin/images/yes.gif"
        var no = "__PUBLIC__/Admin/images/no.gif"
        var field = 'is_valid'
        id = id.split('-')
        console.log(id);
        if (id[1] == 1) {
            $(this).children('img').attr('src', no)
            $(this).attr('data-id', id[0] + '-0')
        } else {
           $(this).children('img').attr('src',yes)
           $(this).attr('data-id', id[0] + '-1')
        }
        $.ajax({
            url: "{:U('Ad/setAdStatus')}",
            type: 'post',
            dataType: 'json',
            data: {id: id[0],status:id[1]}
        })
        .done(function(data) {
            console.log(data);
        })

   })
// //删除字段
// $('.Jdelete').click(function(){
//     var objs = $('.ids');
//     var ids = '';
//     for(var j=0;j<objs.length;j++)
//     {   
//         if ($(objs[j]).is(':checked'))
//         {
//             ids += $(objs[j]).val()+',';
//         }
//     }
//     if ( !ids )  {
//         alert('请选择要删除的数据');
//         return;
//     }
//     var jumpUrl = "{:U('Field/delField')}?ids=" + ids;
//     window.location.href = jumpUrl;
// })
</script>
</block>
